.calculator{
    height: 200px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px 0px, rgba(0, 0, 0, 0.22) 0px 15px 12px 0px;
}
.total{
    height: 40%;
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 10px;
    font-size: 40px;
}


button{
    background-color: rgb(195, 195, 195);
    border: none;
    cursor: pointer;
    height: 30px;
    border-radius: 4px;
    margin: 5px;
    box-shadow: 0 4px  4px  rgba(0, 0, 0, .1),
              0 1px  6px  rgba(0, 0, 0, .05),
              0 8px  8px  rgba(0, 0, 0, .1), 
              0 16px 16px rgba(0, 0, 0, .1), 
              8px 32px 32px rgba(0, 0, 0, .15), 
              8px 64px 64px rgba(0, 0, 0, .15);
}